*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    background-color: #121214;
    background-image: url(./imagens/versoesBackGround/backGroundBlue.svg);        
    

} 

body *{
    font-family: 'Roboto', sans-serif;
}

#app{
    width: fit-content;
    margin: auto;   
    padding-top: 52px
}

header{
    display: flex;
    align-items: center;
}

#cartoes{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cartao{
    padding: 32px 23px;
    text-align: center;
    background-color: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
}

.cartao h2{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #f7dd43;
    border: 1px solid #f7dd43;
}

.cartao h2 span{
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
}

@media only screen and (min-device-width: 240px) and (max-device-width: 844px) {
    .cartao ul{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 200px;
    }
}

.cartao{
    display: inline-block;
    align-items: center;
    gap: 32px;
}

.cartao ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 200px;
}

.cartao ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartao ul li + li{
    
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.cartao ul li strong{
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #e1e1e6;
}

.cartao h2.hover, 
.cartao ul li strong:hover,
.cartao ul li img:hover{
    transform: scale(1.1);
}

.cartao h2, 
.cartao ul li strong:hover,
.cartao ul li img:hover{
    transition: transform 0.3;
}

.cartao{
    animation: appear .7s;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*faz com que nas telas de 700px ou mais os conteudos sejam ajustados lado a lado e ao preencher o espaco lateral sejam "jogados para baixo" ele nao transborda o 670px de max-width*/
@media (min-width: 700px){
    #cartoes{
        max-width: 670px; 
        flex-direction: row;
        flex-wrap: wrap;
    }
}


